@media (prefers-color-scheme: light) {
  body {
      color: #000000;
      background-color: #FFFFFF;
  }
  
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
      color: #FFFFFF;
      background-color: #000000;
  }
}

body {
  padding: 10%;
  font: 14px "Helvetica", Helvetica, Arial, sans-serif;
}

