doctype html
html
  head
    meta(charset='utf-8')
    title= workflow_demo
  body
    // Search tweets: http://backend/twitterapi/tweets
    form(method='get', action='/Tests/Post')
      | Keywords (separate by comma e.g. happy, sad): 
      input(type='text', name='keywords')
      br
      legend Select a tone
      |   
      input(type='checkbox', name='tone', value='positive')
      | Positive
      br
      input(type='checkbox', name='tone', value='negative')
      | Negative
      br
      | Start searching from:
      input(type='datetime-local', name='time_start', value='2021-12-01T00:00')
      br
      | Until:
      input(type='datetime-local', name='time_end', value='2021-12-01T00:00')
      br
      input(type='submit', value='Search')
      br
  