extends layout


block content
    // Search tweets: http://backend/twitterapi/tweets
    <script src="http://code.jquery.com/jquery-git2.js"></script>
    <script src="/javascripts/workflow_demo.js"></script>
    h1 Workflow Demo
    form(method='get')
      p
        label Keywords (separate by comma e.g. happy, sad): 
        input(class="formInput", id='keyword_box', type='text', name='keywords')
      p
        label Select a tone
        label
          input(type='checkbox', name='tone', value='positive')
          | Positive
        label
          input(type='checkbox', name='tone', value='negative')
          | Negative
      p
        label Start searching from:
        input(class="formInput", type='datetime-local', name='time_start', value='2021-12-01T00:00')
      p
        label Until:
        input(class="formInput", type='datetime-local', name='time_end', value='2021-12-01T00:00')
      p
        input(type='button', value='Search', onclick="runWorkflowDemo()")
